<!-- ======= Menu Section ======= -->
<section id="menu" class="chefs section-bg">
  <div class="container" data-aos="fade-up">

    <div class="section-header">
      <h2>Menu</h2>
      <p>Nossas <span>Opções</span></p>
    </div>

    <div class="row gy-4">

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
        <div class="chef-member">
          <div class="member-img">
            <img src="https://www.sanlorenzogelateria.com.br/imagens/sabores/ferreto.png"
              class="img-fluid bg-position-left" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Chocolate</h4>
            <span>Master Chef</span>
            <p class="price" style="font-size: 24px; font-weight: 700; color: #ce1212;">
              R$12
            </p>
          </div>
        </div>
      </div><!-- End Item menu -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
        <div class="chef-member">
          <div class="member-img">
            <img
              src="https://cdn.panrotas.com.br/portal-panrotas-statics/media-files-cache/333226/2a3d4825d4d5b46590fb54deb3aa2d2bsorvete/0,0,1440,1440/1440,1440,1/0/default.jpeg"
              class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Morango</h4>
            <span>Patissier</span>
            <p class="price" style="font-size: 24px; font-weight: 700; color: #ce1212;">
              R$15
            </p>
          </div>
        </div>
      </div><!-- End Item menu -->

      <div class="col-lg-4 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
        <div class="chef-member">
          <div class="member-img">
            <img
              src="https://conteudo.imguol.com.br/c/entretenimento/e4/2022/07/21/a-san-lorenzo-gelateria-em-sao-paulo-ficou-em-37-lugar-no-festival-mundial-do-gelato-1658411560436_v2_1x1.jpg"
              class="img-fluid" alt="">
            <div class="social">
              <a href=""><i class="bi bi-twitter"></i></a>
              <a href=""><i class="bi bi-facebook"></i></a>
              <a href=""><i class="bi bi-instagram"></i></a>
            </div>
          </div>
          <div class="member-info">
            <h4>Creme</h4>
            <span>Cook</span>
            <p class="price" style="font-size: 24px; font-weight: 700; color: #ce1212;">
              R$12
            </p>
          </div>
        </div>
      </div><!-- End Item menu -->

    </div>

  </div>
</section><!-- End Menu Section -->
